@import url("./font.css");


:root {
	background-color: rgba(0, 0, 0, 1);
	background-image: url("/assets/image/skybox.cgi");
	body {
		background-color: rgba(200, 200, 200, 0.8);
		border: 5px solid rgb(50, 50, 50);
		max-width: 900px;
		border-radius: 10px;
		margin: 3% auto;
		padding: 2% 3%;
		font-size: 14px;
		color: rgb(0, 0, 0);
		* {
			font-family: Comfortaa;
		}
		a {
			color: rgb(28, 62, 0);
			font-weight: bold;
			background: rgba(83, 179, 3, 0.3);
			text-decoration: underline;
			text-underline-offset: 10%;
		}
		a:hover {
			background: rgba(83, 179, 3, 0.6);
			text-decoration-thickness: 2px;
		}
		a.undecorated-link {
			background: none;
			text-decoration: none;
			color: inherit;
		}
		input, textarea {
			margin: 4px 0px;
			padding: 4px 4px;
			background-color: rgb(200, 200, 200);
			border: 2px solid rgb(100, 100, 100);
			border-radius: 5px;
			font-size: 14px;
		}
		table {
			border: 1px solid rgb(0, 0, 0);
			td, th {
				border: 1px solid rgb(0, 0, 0);
				text-align: center;
			}
		}
	}
}
